*{
  top: 0;
  box-sizing: border-box;
  font-family:'Outfit', sans-serif;
}

h1{
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
p {
  font-size: 15px;
  color: #516887;
}

span{
  color: hsl(0, 0%, 100%);
}

/*Transition*/


.list-transition-enter{
  opacity: 0;
}

.list-transition-enter-active{
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.list-transition-exit{
  opacity: 1;
}

.list-transition-exit-active{
  opacity: 0;
  transition: all 500ms ease-in-out;
}